/* 初始化页面 */
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul,li,dl,dd,dt{
    list-style-type: none;
}
/* 统一版心 */
.w1200{
    width: 1200px;
    font-size: 14px;
    margin: 0 auto;
}
/* 文档头部 */
header{
    width: 100%;
    height: 74px;
    background-color: #fff;
}
.header-banner{
    height: 74px;
}
.header-banner>a{
    float: left;
    height: 74px;
}
.header-r{
    float: right;
    width: 670px;
    height: 23px;
    margin-top: 28px;
    position: relative;
    overflow: hidden;
}
.header-r>a{
   float: left;
    padding: 0 18px;
}
.header-r>a>p{
    width: 64px;
}
.header-r>a>p>span{
    display: block;
    height: 20px;
    text-align: center;
}
.header-r-p1{
    position: absolute;
    left: 0;
    top: 0;
}
.header-r-p2{
    position: absolute;
    left: 84px;
    top: 0;
}
.header-r-p3{
    position: absolute;
    left: 177px;
    top: 0;
}
.header-r-p4{
    position: absolute;
    left: 265px;
    top: 0;
}
.header-r-p5{
    position: absolute;
    left: 349px;
    top: 0;
}
.header-r-p6{
    position: absolute;
    left: 433px;
    top: 0;
}
.header-r-p7{
    position: absolute;
    right: 88px;
    top: 0;
}
.header-r-p8{
    position: absolute;
    right: 0px;
    top: 0;
}
@keyframes spanMove{
    from{
        top:0;
    }
    to{
        top:-20px;
    }
}
@keyframes spanMove2{
    from{
        top:-20px;
    }
    to{
        top:0px;
    }
}
.header-banner{
    position: relative;
}
.hot-icon{
    position: absolute;
    top: 12px;
    right: 407px;
    width: 19px;
    height: 11px;
    background: url(images/img-map.png) no-repeat 0px 0px;
}
/* 导航栏 */
nav{
    width: 100%;
    height: 44px;
    background-color: #333;
}
.nav-banner{
    height: 44px;
    background-color: #333;
    
}
.goods-list{
    float: left;
}
.goods-list>a{
    display: inline-block;
    width: 96px;
    height: 44px;
    color: #fff;
    line-height: 44px;
    text-align: center;
}
.online{
    display: inline-block;
    width: 96px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    background-color: red;
}
.search{
    height: 44px;
    width: 200px;
    float: right;
}
.text{
    font-size: 12px;
    margin-top: 11px;
    float: left;
    text-indent: 10px;
    border-radius: 20px;
    width: 172px;
    height: 22px;
    outline: 0;
    color: white;
    border: 1px solid #6C6C6C;
    background: #333333;
}
.submit{
    margin-top: 9px;
    float: left;
    border: 0;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: url(images/seek.png);
}
.goods-list>a:hover{
    background: #242424;
    color: white;
}
/* 导航栏的隐藏栏 */
.nav-none{
    height: 0; 
    background: white;
    position: absolute;
    z-index: 20;
    left: 0;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #D6D6D6;
    transition: all 1s linear;
}
.nav-none-banner>.nav-ul-none{
    height: 0px;
    transition: all 1s linear;
}
.nav-none-banner>.nav-ul{
    height: 0px;
}
.nav-none-banner{
    height: 0;
    transition: all 1s linear;
}
.nav-none-banner>ul{
    margin-left: -600px;
    position: absolute;
    left: 50%;
    top: 0;
    height: 0px;
    width: 1200px;
    background-color: #fff;
}
.nav-none-banner>ul>li{
    float: left;
    width: 200px;
    text-align: center;
    height: 200px;
    background-color: #fff;
}
.nav-none-banner>ul>li>a>img{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 199px;
    height: 92px;
    border-right: 1px solid #E0E0E0;
}
.nav-none-banner>ul>li>a>p:last-child{
    color: red;
}
.hotClass{
    color: red;
}
.hotContent{
    line-height: 40px;
}
.nav-none-banner>ul>li>a:hover{
    color: red;
}
/* 文档的中间轮播图 */
main{
    width: 100%;
    height: 657px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.lunbo-banner{
    position: relative;
    max-width: 1920px;
    height: 657px;
    margin: 0 auto;
    /* 溢出隐藏 */
    overflow: hidden;
}
.left{
    position: absolute;
    top: 370px;
    left: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 40;
    font-size: 40px;
    color: #ccc;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.7s ease;
}
main:hover .left{
    opacity: 1;
    transform: translateX(20px);
}
main:hover .right{
    opacity: 1;
    transform: translateX(-20px);
}
.right{
    position: absolute;
    top: 370px;
    right: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    z-index: 40;
    font-size: 40px;
    color: #ccc;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.7s ease;
}
.lunbo-ul{
    position: absolute;
    width: 21120px;
    height: 657px;
}
.lunbo-ul>li{
    float: left;
}
.lunbo-dl{
    position: absolute;
    bottom: 20px;
    left: 44%;
}
.circle{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 10px;
}
.active{
    background-color: #fff;
    border: 1px solid red;
}
/* 滚动新闻 */
.new-title{
    height: 60px;
}
.new-title-l{
    float: left;
    width: 750px;
    height: 60px;
}
.new-title-l>span{
    margin-top: 20px;
    float: left;
    width: 65px;
    height: 20px;
    border: 1px solid #C41618;
    border-radius: 25px;
    color: #C41618;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
.new-lunbo{
    float: left;
    margin-top: 20px;
    width: 650px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
.new-lunbo>ul{
    position: absolute;
    top: 0;
    width: 700px;
    height: 100px;
}
.new-lunbo>ul>li{
    padding-left: 20px;
    width: 568px;
    height: 25px;
    font-size: 14px;
    line-height: 20px;
}
.new-lunbo>ul>li:hover a{
    color: red;
}
.new-lunbo>ul>li>a:first-child{
    float: left;
}
.new-lunbo>ul>li>a:last-child{
    float: right;
}
/* 精彩活动 */
.new-title-r{
    float: right;
    width: 276px;
    height: 60px;
}
.jingcai{
    margin-top: 25px;
}
.jingcai>a{
    float: left;
    display: block;
    height: 13px;
    line-height: 11px;
    padding: 0 12px;
    color: #858585;
    font-size: 14px;
}
.jingcai>a:hover{
    color: red;
}
.jingcai>a:first-child{
    border-right: 1px solid #ccc;
}
.jingcai-a3{
    margin-top: -3px;
    width: 5px;
    height: 17px;
    background: url(images/img-map.png) no-repeat 0 -44px;
} 
/* 精致美食 */
.new-list{
    width: 100%;
    overflow: hidden;
}
.new-list>a{
    position: relative;
    float: left;
    width: 25%;
}

.new-list>a>img{
    width: 100%;
}
/* 精彩美食的隐藏框 */
.new-none{
    width: 100%;
    height: 100%;
    line-height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    /* 隐藏 */
    opacity: 0;
}
.new-none>.none-text,.none-text4{
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}
.new-none>.none-text>span:first-child{
    font-size: 17px;
}
.none-text4>span{
    font-size: 17px;
}
.new-list-c:hover .none-text{
    animation: noneMove 0.6s ease both;
}
@keyframes noneMove{
    from{
        opacity: 0;
        top: 80%;
    }
    to{
        opacity: 1;
        top: 50%;
    }
}
.none-text4{
    opacity: 0;
}
.new-list-c:hover .none-text4{
    animation: noneMove22 0.6s ease both;
}
@keyframes noneMove22{
    from{
        opacity: 0;
        top: 80%;
    }
    to{
        opacity: 1;
        top: 70%;
    }
}
.new-none>.none-text>span,
.none-text4>span{
    display: block;
}

/* 视频 */
.video{
    position: fixed;
    width: 500px;
    height: 300px;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
    z-index: 9999;
    /* 隐藏 */
   display: none;
}
 .mask1{
     position: fixed;
     top: 0;
     left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 9000;
    display: none; 
}  
/* 猜你喜欢 */
.guessLike{
    width: 100%;
    height: 450px;
    background: #F6F6F6;
}
.likeModel{
    margin: 45px 0;
}
.likeModel>p{
    padding-top: 20px;
    height: 60px;
    background: #F6F6F6;
}
.likeModel>p>a:first-child{
    float: left;
    font-size: 26px;
}
.likeModel>p>em{
    font-style: normal;
    float: right;
    margin-top: 8px;
    cursor: pointer;
    color: #929292;
    text-align: center;
    line-height: 25px;
    border: 1px solid #999999;
    border-radius: 25px;
    display: block;
    width: 80px;
    height: 26px;
    font-size: 12px;
}
.like-bottom{
    position: relative;
    height: 320px;
    background-color: #fff;
}
.likeProduce{
    height: 230px;
    position: absolute;
    left: 0;
    top: 0;
    /* 隐藏 */
    display: none;
}
.likeBlock{
    /* 显示 */
    display: block;
}
.likeProduce>a{
    float: left;
    text-align: center;
    border-left: 1px solid #E2E2E2;
    margin-top: 90px;
    padding: 0 9px;
}
.likeProduce>a>img{
    width: 278px;
    height: 150px;
    margin: -60px auto 0;
}
.likeProduce>a>span{
    display: block;
}
.a-span{
    color: #929292;
}
.likeProduce>a:hover .a-span{
    color: red;
   
}
.likeProduce>a:hover{
    transform: translateY(-10px);
}
.likeProduce>a{
    transition: all 0.2s linear;
}
.likeList{
    position: absolute;
    left: 31%;
    bottom: 26px;
    padding: 0 5px;
    width: 460px;
}
.btn-flex{
   width: 500px;
   height: 27px;
}
.btn{
    height: 27px;
}
.btn-flex>span{
    display: block;
    height: 23px;
    text-align: center;
    float: left;
    width: 80px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 15px;
}
.btn-flex>.flexSpan1{
    background-color: #45BEF5;
    color: #fff;
}
.flex_span1{
    background-color: #45BEF5;
    color: #fff;
}
.moren1{
    border: 1px solid #45BEF5;
    color:#45BEF5;
}
.moren2{
    border: 1px solid #3CCD89;
    color: #3CCD89;
}
.flex_span2{
    background-color: #3CCD89;
    color: #fff;
}
.moren3{
    border: 1px solid #FF9239;
    color: #FF9239;
}
.flex_span3{
    background-color: #FF9239;
    color: #fff;
}
.moren4{
    border: 1px solid #EF5A50;
    color: #EF5A50;
}
.flex_span4{
    background-color: #EF5A50;
    color: #fff;
}
.moren5{
    border: 1px solid #45BEF5;
    color: #45BEF5;
    margin-right: 0;
}
.flex_span5{
    background-color: #45BEF5;
    color: #fff;
}
/* 鼠标经过效果 */
.moren1:hover{
    background-color: #45BEF5;
    color: #fff;
}
.moren2:hover{
    background-color: #3CCD89;
    color: #fff;
}
.moren3:hover{
    background-color: #FF9239;
    color: #fff;
}
.moren4:hover{
    background-color: #EF5A50;
    color: #fff;
}
.moren5:hover{
    background-color: #45BEF5;
    color: #fff;
}
/* 四大模板 */
.four-system{
    margin: 45px 0;
    height: 32px;
}
.four-system-banner>a{
    float: left;
    width: 152px;
    height: 32px;
    border-left: 1px solid #DBDBDB;
    padding-right: 7.3%;
}
.four-system-banner>a>span{
    display: inline-block;
    width: 60px;
    height: 18px;
}
.four-system-banner>a:hover .four-a{
    transform: translateY(-10px);
}
.four-system-banner>a>img{
    vertical-align: middle;
    padding-right: 30px;
    transition: all 0.3s linear;
}
.four-system-banner>a:nth-child(2),
.four-system-banner>a:nth-child(3),
.four-system-banner>a:nth-child(4)
{
    padding-left: 106px;
}
.four-system-banner>a:nth-child(4){
    padding-right: 0;
}
/* 导航底部 */
footer{
    border-top: 1px solid #DBDBDB;
    padding-top: 40px;
    margin-bottom: 30px;
    overflow: hidden;
}
/* 底部左侧 */
.footer-l{
    float: left;
}
.footer-l>dl{
    float: left;
}
.footer-l>dl>dt{
    margin-bottom: 10px;
}
.footer-l>dl>dd{
    line-height: 25px;
}
.footer-l>dl>dd>a{
    color: #929292;

}
.footer-l>dl>dd>a:hover{
    color: red;
}
.footer-dl{
    margin-left: 70px;
}
/* 底部右侧 */
.footer-r{
    float: right;
}
/* 二维码部分 */
.footer-ewm{
    display: inline-block;
    position: relative;
    right: 70px;
    width: 205px;
    height: 130px;
}
.ewm1{
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}
.ewm2{
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}
/* 练习电话 */
.footer-tel{
    float: right;
    width: 265px;
    text-align: right;
    border-left: 1px solid #929292;
}
.footer-tel>p:first-child{
    font-size: 30px;
    color: red;
}
.footer-tel>p:nth-child(2){
    margin: 10px 0;
}
.kefu{
    display: inline-block;
    width: 73px;
    height: 32px;
    line-height: 32px;
    color: red;
    text-align: center;
    border: 1px solid red;
}
/* 最底部 */
.bottom{
    background: #F6F6F6;
    width: 100%;
    height: 20px;
}
.bottom-banner{
    overflow: hidden;
}
.bottom-banner>p{
    float: left;
    color: #929292;
}
.bottom-banner>p>a{
    display: inline-block;
    color: #929292;
    padding-left: 3px;
    border-left: 1px solid #929292;
}
.bottom-banner>a{
    float: right;
    color: #929292;
}
/* 侧边连 */
aside{
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 45px;
    z-index: 800;
    /* 隐藏 */
    display: none;
}
aside>p{
    width: 45px;
    height: 45px;
    background: url(images/top.png) no-repeat;
}
aside>a{
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    color: white;
    width: 44px;
    height: 45px;
    line-height: 22px;
    display: block;
    background-color: red;
}
